<header class="main-header header-style-14 sticky-top">
    <div class="header-upper">
        <div class="outer-container">
            <div class="inner-container d-flex align-items-center justify-content-between">
                <div class="logo-box">
                    <div class="logo"><a href="/"><img src="/images/logo-main.png" alt=""></a></div>
                </div>
                <div class="right-column d-flex align-items-center">
                    <div class="nav-outer">
                        <div class="mobile-nav-toggler"><img src="/images/icons/menu.svg" alt=""></div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation">
                                    <li class="current dropdown"><a href="/">Home</a>
                                    </li>   
                                    <li class="dropdown"><a href="/about">About</a>
                                    </li>                                     
                                    <li class="dropdown"><a href="/product">Products</a>
                                        <!-- <ul>
                                            <li><a href="services.html">Product 1</a></li>
                                            <li><a href="services-2.html">Product 2</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a href="/gallery">Gallery</a>
                                    </li>
                                    <li class="dropdown"><a href="/faq">FAQ</a>
                                    </li>
                                    <li class="dropdown"><a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="sidemenu-nav-toggler"><img src="/images/icons/icon-8.png" alt=""></div>
                </div>                      
            </div>
        </div>
    </div>
    <div class="sticky-header">
        <div class="header-upper">
            <div class="outer-container">
                <div class="inner-container d-flex align-items-center justify-content-between">
                    <div class="logo-box">
                        <div class="logo"><a href="/"><img src="/images/logo-light.png" alt=""></a></div>
                    </div>
                    <div class="right-column d-flex align-items-center">
                        <div class="nav-outer">
                            <div class="mobile-nav-toggler"><img src="/images/icons/menu.svg" alt=""></div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                
                            </nav>
                        </div>
                        <div class="sidemenu-nav-toggler"><img src="/images/icons/icon-8.png" alt=""></div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="fal fa-times"></span></div>
        
        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="/images/logo-light.png" alt="" title=""></a></div>
            <div class="menu-outer">
                <!-- Here Menu Will Come Automatically Via Javascript / Same Menu as in Header -->
            </div>
            <!-- Social Links -->
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    

    <div class="nav-overlay">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div>
</header>