<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">Preloader Close</div>
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>


    <!-- page-title -->
    <section class="page-title style-two">
        <div class="outer-container p_relative">
            <div class="bg-layer" style="background-image: url(/images/background/page-title-2.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>About Us</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- about-style-15 -->
    <section class="about-style-15 p_relative">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                    <div class="image-box">
                        <span class="rotate-text">kitchen modern</span>
                        <figure class="image"><img src="/images/resource/about-14.jpg" alt=""></figure>
                        <div class="experience-box">
                            <h2>25+</h2>
                            <h4>Years <br>Experience</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="sec-title mb_40">
                            <span class="sub-title gray-color">Nature of brand</span>
                        </div>
                        <div class="text-box mb_50">
                            <p class="fs_20 fw_medium mb_30">We specialise in the importation and distribution of a wide range of food commodities and household items. Our product portfolio includes chicken spices, Instant flavoured drink powder, Monosodium glutamate (MSG), Yeast, Sardines, Butter and others.</p>
                            <p class="fs_18 mb_0">The business upholds a strong commitment to integrity, ensuring that all operations are conducted with honesty and transparency. Quality is at the forefront, with a focus on providing topnotch food commodities to meet customer expectations. Reliability and efficiency are key, guaranteeing timely and dependable service. Professionalism is maintained in all interactions, while responsiveness ensures that customer needs are promptly addressed. The business is dedicated to collaboration, working closely with distributors and customers to foster strong, mutually beneficial relationships.</p>
                        </div>
                        <div class="lower-box">
                            <div class="image"><img src="/images/resource/about-15.jpg" alt=""></div>
                            <h3>We’re in this business since 1996 and we provide the best products</h3>
                            <span>Discover Products</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-15 end -->


    <!-- funfact-style-two -->
    <section class="funfact-style-two about-4">
        <div class="outer-container">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="funfact-block-two">
                        <div class="inner-box">
                            <div class="count-outer">
                                <span class="funfact-1-number odometer" data-count="27">00</span><span>+</span>
                            </div>
                            <p>Architecture</p>
                        </div>
                    </div>
                    <div class="funfact-block-two">
                        <div class="inner-box">
                            <div class="count-outer">
                                <span class="funfact-1-number odometer" data-count="78">00</span><span>+</span>
                            </div>
                            <p>Interior Designs</p>
                        </div>
                    </div>
                    <div class="funfact-block-two">
                        <div class="inner-box">
                            <div class="count-outer">
                                <span class="funfact-1-number odometer" data-count="38">00</span><span>+</span>
                            </div>
                            <p>Modular Kitchens</p>
                        </div>
                    </div>
                    <div class="funfact-block-two">
                        <div class="inner-box">
                            <div class="count-outer">
                                <span class="funfact-1-number odometer" data-count="98">00</span><span>+</span>
                            </div>
                            <p>Project done</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- funfact-style-two end -->


    <!-- about -->
    <section class="about-page-four-section pb_90 pt_100">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-4">
                    <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span
                            class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>About company</h6>
                    <h2 class="fw_black fs_45 mb_40">History Of <br>Our Company</h2>
                    <!-- <div class="logo mb_30"><img src="/images/resource/image-2.png" alt=""></div> -->
                </div>
                <div class="col-lg-8">
                    <h2 class="fs_35 mb_30">We are a locally owned and operated company <br> with over 25 years of
                        industry experience.</h2>
                    <p class="mb_25">
                        The business was established and began trading in the first quarter of 1996. Since its inception,it has made significant strides in establishing itself as a reliable importer of food commodities.The business has successfully established reliable supply chains for importing food commodities, which is a critical aspect of its operations. This has ensured a steady flow of products, enabling the business to meet customer demands consistently. Additionally, the business has secured all the necessary licenses and permits for its import and export activities, ensuring compliance with all relevant regulations and laws. Over the years, the business has built a robust customer base comprising both distributors and individual customers. This has been achieved through the development of a strong brand identity and good quality products, which has helped to differentiate the business in a competitive market.
                    </p>
                    <!-- <div class="author-box d-flex align-items-center">
                        <div class="mr_40">
                            <p class="mb-0 fs_20 fw_sbold c_dark">Michale John</p>
                            <p class="mb_20 fs_18 c_primary">Company Director</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>


    <!-- team-style-two -->
    <section class="team-style-two text-center">
        <div class="auto-container">
            <div class="sec-title mb_65">
                <span class="sub-title gray-color">our team</span>
                <h2>Our Professionals</h2>
                <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day,
                    going <br>forward, a new normal that has evolved from generation X is on the runway heading.</p>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><a href="index-27.html"><img src="/images/team/team-1.jpg"
                                        alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="index-27.html">Marry Joe</a></h3>
                                <span class="designation">Head Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><a href="index-27.html"><img src="/images/team/team-2.jpg"
                                        alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="index-27.html">Michale Hooper</a></h3>
                                <span class="designation">Archicture</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><a href="index-27.html"><img src="/images/team/team-3.jpg"
                                        alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="index-27.html">Robert Joe</a></h3>
                                <span class="designation">Head Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><a href="index-27.html"><img src="/images/team/team-4.jpg"
                                        alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="index-27.html">Michale Hooper</a></h3>
                                <span class="designation">Archicture</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-style-two end -->


    <!-- testimonial-style-two -->
    <section class="testimonial-style-two home-29 home-18">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="sec-title">
                        <span class="sub-title gray-color">Testimonials</span>
                        <h2>What They’re Talking About Comapany ?</h2>
                        <div class="slider-nav-style-2 testimonial-1-nav ps-lg-5">
                            <div class="slider-control slider-button-prev2"><img src="/images/icons/icon-96.png" alt="">
                            </div>
                            <div class="slider-control slider-button-next2"><img src="/images/icons/icon-97.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="swiper-container two-item-carousel">
                        <div class="swiper-wrapper">
                            <!-- Slide Item -->
                            <div class="swiper-slide">
                                <div class="testimonials-1-block">
                                    <div class="testimonials-1-top-content">
                                        <div class="testimonials-1-quote"><i class="flaticon-quotation"></i></div>
                                        <div class="testimonials-1-desc">Normal that has evolved from gene ration X is
                                            on the runway heading towards a streamlined cloud solu- tion. strategies to
                                            ensure proactive domination. </div>
                                    </div>
                                    <div class="testimonials-1-author">
                                        <div class="testimonials-1-author-image"><img
                                                src="/images/resource/testimonial-12.jpg" alt=""></div>
                                        <div class="testimonials-1-author-title">Robert Mick</div>
                                        <div class="testimonials-1-designation">Customer</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide Item -->
                            <div class="swiper-slide">
                                <div class="testimonials-1-block">
                                    <div class="testimonials-1-top-content">
                                        <div class="testimonials-1-quote"><i class="flaticon-quotation"></i></div>
                                        <div class="testimonials-1-desc">Normal that has evolved from gene ration X is
                                            on the runway heading towards a streamlined cloud solu- tion. strategies to
                                            ensure proactive domination. </div>
                                    </div>
                                    <div class="testimonials-1-author">
                                        <div class="testimonials-1-author-image"><img
                                                src="/images/resource/testimonial-13.jpg" alt=""></div>
                                        <div class="testimonials-1-author-title">Marry Joe</div>
                                        <div class="testimonials-1-designation">Customer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-style-two end -->


    <!-- feature-style-four -->
    <section class="feature-style-four about-4">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-three">
                        <div class="inner-box">
                            <div class="icon-box"><img src="/images/icons/icon-93.png" alt=""></div>
                            <h4>Reasonable Prices</h4>
                            <p>We produce furniture to fulfill needs of all people and offer it at affordable and fair
                                prices</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-three">
                        <div class="inner-box">
                            <div class="icon-box"><img src="/images/icons/icon-94.png" alt=""></div>
                            <h4>Professional Team</h4>
                            <p>We produce furniture to fulfill needs of all people and offer it at affordable and fair
                                prices</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-three">
                        <div class="inner-box">
                            <div class="icon-box"><img src="/images/icons/icon-95.png" alt=""></div>
                            <h4>Exclusive Design</h4>
                            <p>WMixture of imagination, expeience and professionalism the secret of our design</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-style-four end -->


</div>