
<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>


    <!-- map-contact-two -->
    <section class="map-contact-two">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55945.16225505631!2d-73.90847969206546!3d40.66490264739892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1601263396347!5m2!1sen!2sbd" width="600" height="535" frameborder="0" style="border:0; width: 100%" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>
    <!-- map-contact-two end -->


    <!-- contact-style-four -->
    <section class="contact-style-four">
        <div class="pattern-layer" style="background-image: url(/images/shape/shape-27.png);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                    <div class="content-box mr_40">
                        <div class="text-box">
                            <h2>Drop Us a Line</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do mod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <span>Fields marked with an * are required</span>
                        </div>
                        <form method="post" action="contact-2.html">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Name *" required="">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Email *" required="">
                            </div>
                            <div class="form-group">
                                <textarea name="message" placeholder="Message *"></textarea>
                            </div>
                            <div class="form-group message-btn">
                                <button type="submit">Submit now</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 info-column">
                    <div class="info-content ml_100 mt_90">
                        <div class="single-item">
                            <h6>Address :</h6>
                            <p>54B, Tailstoi Town 5238 <br>La city, IA 522364</p>
                        </div>
                        <div class="single-item">
                            <h6>Phone :</h6>
                            <p><a href="tel:01372466790">01372.466.790</a></p>
                        </div>
                        <div class="single-item">
                            <h6>email :</h6>
                            <p><a href="mailto:info@example.com">info@example.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-style-four end -->
	
</div>













