<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Buildnox Construction HTML Template</title>
<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<!-- Responsive File -->
<link href="/css/responsive.css" rel="stylesheet">
<!-- Color File -->
<link href="/css/color.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="../css2-1?family=Barlow:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>

    <section class="banner-1-section pt_240 pb_140 bg_cover overflow-hidden" style="background-image: url(/images/background/bg-4.jpg);">
        <div class="line-grid-wrap">
            <span class="line-grid-1"></span>
            <span class="line-grid-2"></span>
            <span class="line-grid-3"></span>
            <span class="line-grid-4"></span>
            <span class="line-grid-5"></span>
        </div>
        <div class="banner-1-image-1 p_absolute b_0 r_0"><img src="/images/resource/building3.png" alt=""></div>              
        <div class="auto-container">
            <div class="p_relative text-center">
                <h1 class="c_light mb_10 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Faq</h1> 
                <ul class="fs_18 d-flex justify-content-center c_light wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.5s">
                    <li><a href="index.html">Home</a></li>
                    <li class="ml_10 mr_10">/</li>
                    <li>Faq</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pt_120 pb_90">
        <div class="auto-container">
            <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>FAQ</h6>
            <h2 class="fs_45 fw_black mb_20">Frequently Ask Questions</h2>
            <p class="fs_18 mb_40">Discover you question from underneath or present your inquiry fromt the submit box.</p>

            <div class="faq-search-form p_relative mb_60">
                <!-- <form>
                    <input type="search" placeholder="Search Your Answer">
                    <button type="submit"><i class="far fa-search"></i></button>
                </form> -->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--Accordian Box-->
                    <ul class="accordion-box alt-2 pe-lg-5">                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Bring to the table win-win survival strategies ? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18">Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis.</p>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Override the digital divide with additional
                            clickthroughs from DevOps ? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18">Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis.</p>
                                </div>
                            </div>
                        </li>                        
                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>At the end of the day, going forward ?</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <p class="fs_18">Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis.</p>
                                </div>
                            </div>
                        </li>                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Information highway will close the loop on ?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18">Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <!--Accordian Box-->
                    <ul class="accordion-box alt-2 pe-lg-5">                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>User generated content in real-time will have ?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18">Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis.</p>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Normal that has evolved from generation
                            on the runwaay heading towards ? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18">Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis.</p>
                                </div>
                            </div>
                        </li>                        
                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Focusing solely on the bottom line ?</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <p class="fs_18">Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis.</p>
                                </div>
                            </div>
                        </li>                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Multiple touchpoints for offshoring ?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18">Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
                    
        </div>
    </section>
</div>














