<!DOCTYPE html>
<html lang="en">

<body>

<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>

    <section class="banner-1-section pt_240 pb_140 bg_cover overflow-hidden" style="background-image: url(/images/converted/IMG_5581.jpg);">
        <div class="line-grid-wrap">
            <span class="line-grid-1"></span>
            <span class="line-grid-2"></span>
            <span class="line-grid-3"></span>
            <span class="line-grid-4"></span>
            <span class="line-grid-5"></span>
        </div>
        <!-- <div class="banner-1-image-1 p_absolute b_0 r_0"><img src="/images/resource/building3.png" alt=""></div>               -->
        <div class="auto-container">
            <div class="p_relative text-center">
                <h1 class="c_light mb_10 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Faq</h1> 
                <ul class="fs_18 d-flex justify-content-center c_light wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.5s">
                    <li><a href="/">Home</a></li>
                    <li class="ml_10 mr_10">/</li>
                    <li>Faq</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pt_120 pb_90">
        <div class="auto-container">
            <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>FAQ</h6>
            <h2 class="fs_45 fw_black mb_20">Frequently Asked Questions</h2>

            <div class="row">
                <div class="col-lg-6 mt-5">
                    <!--Accordian Box-->
                    <ul class="accordion-box alt-2 pe-lg-5">                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where is Okoti Enterprises located? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18"> Okoti Enterprises is located in Lagos, Nigeria.</p>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What does Okoti Enterprises do? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18">Okoti Enterprises specializes in the importation and distribution of food commodities and household items to retailers and suppliers across Nigeria.</p>
                                </div>
                            </div>
                        </li>                        
                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How can I get Okoti Enterprises' products?</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <p class="fs_18">Our products are available through our network of suppliers. To get in touch with a supplier, please contact us via call, email, or text, and we will provide you with more information.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 mt-5">
                    <!--Accordian Box-->
                    <ul class="accordion-box alt-2 pe-lg-5">                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> Do you sell directly to individuals?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18">No, we primarily sell to retailers and suppliers. However, individuals can purchase our products through our suppliers.</p>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How can I become a supplier or retailer for Okoti Enterprises?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p class="fs_18">Please contact us via call, email, or text to inquire about our supplier and retailer opportunities. We will provide you with more information on how to get started.</p>
                                </div>
                            </div>
                        </li>                        
                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn c_dark ff_sec fs_22 fw_bold active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What areas of Nigeria do you distribute to?</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <p class="fs_18">We distribute our products to all states in Nigeria, with a strong network of suppliers and logistics in place to ensure timely delivery.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
                    
        </div>
    </section>
</div>














