<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>

    <!-- project-page-four-section -->
    <section class="project-page-four-section">
        <div class="auto-container">  
            <div class="title-text mb_80">
                <h2>We love what we do <br>We passonate to our work</h2>
            </div>
            <div class="sortable-masonry">
                <div class="filters mb_35">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="filter active" data-role="button" data-filter=".all">ALL WORKS</li>
                        <li class="filter" data-role="button" data-filter=".cat-1">Houses</li>
                        <li class="filter" data-role="button" data-filter=".cat-2">Apartments</li>
                        <li class="filter" data-role="button" data-filter=".cat-3">3D Modeling</li>
                        <li class="filter" data-role="button" data-filter=".cat-4">Architecture</li>
                        <li class="filter" data-role="button" data-filter=".cat-5">Interior Design</li>
                    </ul>
                </div> 
                <div class="items-container row">
                    <div class="masonry-item all cat-1 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/gallery/gallery-136.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3><a href="project-details.html">Moftal Tower</a></h3>
                                    <span>design/ interior</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/gallery/gallery-137.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3><a href="project-details.html">Loxis Tower</a></h3>
                                    <span>design/ architecture</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-3 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/gallery/gallery-138.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3><a href="project-details.html">Commercial Building</a></h3>
                                    <span>design/ interior</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-4 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/gallery/gallery-139.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3><a href="project-details.html">Unique Home</a></h3>
                                    <span>design/ architecture</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-5 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/gallery/gallery-140.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3><a href="project-details.html">Room Interior</a></h3>
                                    <span>design/ interior</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/gallery/gallery-141.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3><a href="project-details.html">Modern Building</a></h3>
                                    <span>design/ architecture</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-4 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/gallery/gallery-142.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3><a href="project-details.html">Pratox Tower</a></h3>
                                    <span>design/ architecture</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-5 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/gallery/gallery-143.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3><a href="project-details.html">Modular Kitchen</a></h3>
                                    <span>design/ interior</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/gallery/gallery-144.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3><a href="project-details.html">Office Interior</a></h3>
                                    <span>design/ interior</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-page-four-section end -->


    <!-- faq-section -->
    <section class="faq-section project-4">
        <span class="big-text text_stroke">Construction&nbsp;&nbsp;&nbsp;&nbsp;Architecture&nbsp;&nbsp;&nbsp;&nbsp;Interior&nbsp;&nbsp;&nbsp;&nbsp;Civil Infrastecture</span>
    </section>
    <!-- faq-section end -->

	
</div>














