<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>

    <!-- project-page-four-section -->
    <section class="project-page-four-section">
        <div class="auto-container">  
            <div class="title-text mb_80">
                <h2>We love what we do <br>We passonate to our work</h2>
            </div>
            <div class="sortable-masonry">
                <div class="filters mb_35">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="filter active" data-role="button" data-filter=".all">All Products</li>
                        <li class="filter" data-role="button" data-filter=".cat-1">Mito</li>
                        <li class="filter" data-role="button" data-filter=".cat-2">G-Vita Flavoured Drink</li>
                        <li class="filter" data-role="button" data-filter=".cat-3">VERA Yeast</li>
                        <li class="filter" data-role="button" data-filter=".cat-4">Powdered Chicken Stock</li>
                        <li class="filter" data-role="button" data-filter=".cat-5">Margarine</li>
                    </ul>
                </div> 
                <div class="items-container row">
                    <div class="masonry-item all cat-1 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/mito-stew.jpg" alt=""></figure>
                                <div class="content-box">
                                    <!-- <h3><a href="#">Moftal Tower</a></h3> -->
                                    <span>Mito Stew Powder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/g-vita-cola2.jpg" alt=""></figure>
                                <div class="content-box">
                                    <span>G-VITA juice Powder - Cola</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-3 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/vera-yeast.jpg" alt=""></figure>
                                <div class="content-box">
                                    <!-- <h3><a href="project-details.html">Commercial Building</a></h3> -->
                                    <span>Vera Yeast</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/IMG_5756.JPG" alt=""></figure>
                                <div class="content-box">
                                    <span>G-VITA juice Powder - Orange Flavour</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-1 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/mito-4.jpg" alt=""></figure>
                                <div class="content-box">
                                    <!-- <h3><a href="project-details.html">Unique Home</a></h3> -->
                                    <span>Mito Stew Powder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/juice.jpg" alt=""></figure>
                                <div class="content-box">
                                    <span>G-VITA juice Powder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-4 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/ricci-powdered-chiki.jpg" alt=""></figure>
                                <div class="content-box">
                                    <!-- <h3><a href="project-details.html">Unique Home</a></h3> -->
                                    <span>RICCI Powdered Chicken Stock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/g-vita-gvita.jpg" alt=""></figure>
                                <div class="content-box">
                                    <!-- <h3><a href="project-details.html">Modern Building</a></h3> -->
                                    <span>G-VITA juice Powder </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-1 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/mito-stew-2.jpg" alt=""></figure>
                                <div class="content-box">
                                    <!-- <h3><a href="#">Moftal Tower</a></h3> -->
                                    <span>Mito Stew Powder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-5 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/converted/IMG_5533.jpg" alt=""></figure>
                                <div class="content-box">
                                    <span>RICCI Margarine</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/g-vita-orange6.jpg" alt=""></figure>
                                <div class="content-box">
                                    <!-- <h3><a href="project-details.html">Modern Building</a></h3> -->
                                    <span>G-VITA juice Powder </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-4 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/ricci-powdered-chiki-2.jpg" alt=""></figure>
                                <div class="content-box">
                                    <span>RICCI Powdered Chicken Stock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/g-vita-berries.jpg" alt=""></figure>
                                <div class="content-box">
                                    <!-- <h3><a href="project-details.html">Modern Building</a></h3> -->
                                    <span>G-VITA juice Powder - Berries</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="masonry-item all cat-5 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/ricci-margarine.jpg" alt=""></figure>
                                <div class="content-box">
                                    <span>RICCI Margarine</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="masonry-item all cat-2 col-lg-4 col-md-6">
                        <div class="project-block">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/images/prodImage/g-vita-juice.jpg" alt=""></figure>
                                <div class="content-box">
                                    <!-- <h3><a href="project-details.html">Office Interior</a></h3> -->
                                    <span>G-VITA Juice Powder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-page-four-section end -->


   

	
</div>














