<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">Preloader Close</div>
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>


    <!-- banner-style-16 -->
    <section class="banner-style-16 overflow-hidden">
        <div class="swiper-container banner-slider-2 banner-carousel">
            <div class="swiper-wrapper">
                <!-- Slide Item -->
                <div class="swiper-slide">
                    <div class="bg-layer" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/main-slider/chinhbanner.jpg');"></div>
                    <div class="large-container">
                        <div class="content-box">
                            <h6>Trusted Home Renovation Services</h6>
                            <h2>Exterior Remodeling Contractors NY</h2>
                            <p>Mauris et tellus congue , rutrum neque a, varius felis. Phasellus nibh diam, tincidunt
                                nec risus ut, auctor gravida metus covers.</p>
                        </div>
                    </div>
                </div>
                <!-- Slide Item -->
                <div class="swiper-slide">
                    <div class="bg-layer" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/main-slider/chinhbanner.jpg');"></div>
                    <div class="large-container">
                        <div class="content-box">
                            <h6>Trusted Home Renovation Services</h6>
                            <h2>Exterior Remodeling Contractors NY</h2>
                            <p>Mauris et tellus congue , rutrum neque a, varius felis. Phasellus nibh diam, tincidunt
                                nec risus ut, auctor gravida metus covers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-style-16 end -->


    <!-- about-style-five -->
    <section class="about-style-five">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                    <div class="image-box">
                        <figure class="image"><img src="/images/resource/about-5.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <span class="sub-title">welcome to buildnox</span>
                        <h2>I’am Dr. Robert Expert Psychogoist from London</h2>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative
                            approaches to corporate strategy foster collaborative thinking to further the overall value
                            proposition. Organically grow the holistic world view of disruptive innovation via workplace
                            diversity and empowerment.</p>
                        <div class="list-inner mb_50">
                            <ul class="list-item clearfix">
                                <li>Anxiety Therapy</li>
                                <li>Relationship Therapy</li>
                                <li>Depression Therapy</li>
                                <li>Stress Management</li>
                            </ul>
                            <ul class="list-item clearfix">
                                <li>Anxiety Therapy</li>
                                <li>Relationship Therapy</li>
                                <li>Depression Therapy</li>
                                <li>Stress Management</li>
                            </ul>
                        </div>
                        <div class="lower-box">
                            <figure class="signature"><img src="/images/icons/signature-2.png" alt=""></figure>
                            <div class="btn-box"><a href="index-16.html" class="theme-btn-one">make an appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-five end -->


    <!-- service-style-four -->
    <section class="service-style-four">
        <div class="pattern-layer" style="background-image: url(/images/shape/shape-10.png);"></div>
        <div class="auto-container">
            <div class="sec-title text-center mb_65">
                <span class="sub-title">Our Products</span>
                <h2>What We Do for Our Clients</h2>
                <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day,
                    <br>going a new normal that has evolved from generationstreamlined cloud solution.</p>
            </div>
            <div class="swiper-container four-item-carousel">
                <div class="swiper-wrapper">
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <div class="icon-box"><img src="/images/icons/icon-37.png" alt=""></div>
                                <h3><a href="service-details.html">Building <br>Construction</a></h3>
                                <div class="link-btn"><a href="service-details.html"><span>Read more</span></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <div class="icon-box"><img src="/images/icons/icon-38.png" alt=""></div>
                                <h3><a href="service-details.html">Architecture <br>Design</a></h3>
                                <div class="link-btn"><a href="service-details.html"><span>Read more</span></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <div class="icon-box"><img src="/images/icons/icon-39.png" alt=""></div>
                                <h3><a href="service-details.html">Home <br>Renovation</a></h3>
                                <div class="link-btn"><a href="service-details.html"><span>Read more</span></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <div class="icon-box"><img src="/images/icons/icon-40.png" alt=""></div>
                                <h3><a href="service-details.html">Interior <br>Designing</a></h3>
                                <div class="link-btn"><a href="service-details.html"><span>Read more</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-nav-style-2 service-1-nav">
                    <div class="slider-control slider-button-prev4 hvr-zoom-1 hvr-zoom-1-primary"><span><i
                                class="far fa-angle-left"></i></span></div>
                    <div class="slider-control slider-button-next4 hvr-zoom-1 hvr-zoom-1-primary"><span><i
                                class="far fa-angle-right"></i></span> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-style-four end -->


    <!-- gallery-style-two -->
    <section class="project-style-two home-28 pt_110 pb_120">    
        <div class="auto-container">
            <div class="upper-box mb_50">
                <div class="sec-title light">
                    <span class="sub-title yellow-color">Gallery</span>
                </div>
                <div class="filters text-center">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="filter active" data-role="button" data-filter=".all">All Products</li>
                        <li class="filter" data-role="button" data-filter=".cat-1">Houses</li>
                        <li class="filter" data-role="button" data-filter=".cat-2">Apartments</li>
                        <li class="filter" data-role="button" data-filter=".cat-3">3D Modeling</li>
                        <li class="filter" data-role="button" data-filter=".cat-4">Architecture</li>
                        <li class="filter" data-role="button" data-filter=".cat-5">Interior Design</li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="outer-container">  
            <div class="sortable-masonry">
                <div class="items-container row">
                    <div class="masonry-item all cat-1 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-105.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/images/gallery/gallery-105.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-106.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/images/gallery/gallery-106.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-3 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-107.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/images/gallery/gallery-107.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-4 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-108.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/images/gallery/gallery-108.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-5 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-109.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/images/gallery/gallery-109.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-110.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/images/gallery/gallery-110.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-110.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/images/gallery/gallery-110.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gallery-style-two end -->



    <!-- faq-section -->
    <section class="faq-section home-16">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 text-column">
                        <div class="text-box">
                            <h3>Architecture a unique combination of engineering, construction and design disciplines
                                and expertise.</h3>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 accordion-column">
                        <ul class="accordion-box">
                            <li class="accordion block">
                                <div class="acc-btn c_dark fs_28 ff_sec">Unique And International Design</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Publishing packages and web page editors now use Lorem Ipsum as their default
                                            model text, and a search for 'lorem ipsum' will uncover many web sites still
                                            in their infancy.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn c_dark fs_28 ff_sec">Building Buildnox Project</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Publishing packages and web page editors now use Lorem Ipsum as their default
                                            model text, and a search for 'lorem ipsum' will uncover many web sites still
                                            in their infancy.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn c_dark fs_28 ff_sec">Award Winning Interior & Architecture</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Publishing packages and web page editors now use Lorem Ipsum as their default
                                            model text, and a search for 'lorem ipsum' will uncover many web sites still
                                            in their infancy.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq-section end -->


    <!-- brand logo -->
    <div class="brand-home-16 pb_65">
        <div class="brand-logo-sec-border"></div>
        <div class="text-center">
            <h5
                class="ff_sec fw_bold tt_u fs_14 ls_1 c_primary text-center mb_45 bg_light pl_30 pr_30 p_relative d_iblock">
                We worked with royal clients</h5>
        </div>

        <div class="auto-container-2">
            <div class="slider-wrapper">
              <!-- Duplicated images for smooth scrolling -->
              <img src="/images/clients-logo/brand-logo-1.png" alt="Logo 1" class="img-fluid">
              <img src="/images/clients-logo/brand-logo-2.png" alt="Logo 2" class="img-fluid">
              <img src="/images/clients-logo/brand-logo-3.png" alt="Logo 3" class="img-fluid">
              <img src="/images/clients-logo/brand-logo-4.png" alt="Logo 4" class="img-fluid">
              <img src="/images/clients-logo/brand-logo-5.png" alt="Logo 5" class="img-fluid">
              <!-- Repeat the images for infinite effect -->
              <img src="/images/clients-logo/brand-logo-1.png" alt="Logo 1" class="img-fluid">
              <img src="/images/clients-logo/brand-logo-2.png" alt="Logo 2" class="img-fluid">
              <img src="/images/clients-logo/brand-logo-3.png" alt="Logo 3" class="img-fluid">
              <img src="/images/clients-logo/brand-logo-4.png" alt="Logo 4" class="img-fluid">
              <img src="/images/clients-logo/brand-logo-5.png" alt="Logo 5" class="img-fluid">
            </div>
          </div>
        
    </div>




</div>

<!--Scroll to top-->
<div class="scroll-to-top">
    <div>
        <div class="scroll-top-inner">
            <div class="scroll-bar">
                <div class="bar-inner"></div>
            </div>
            <div class="scroll-bar-text">Go To Top</div>
        </div>
    </div>
</div>
<!-- Scroll to top end -->
