<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">Preloader Close</div>
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>


    <!-- banner-style-16 -->
    <section class="banner-style-16 overflow-hidden">
        <div class="swiper-container banner-slider-2 banner-carousel">
            <div class="swiper-wrapper">
                <!-- Slide Item -->
                <div class="swiper-slide">
                    <div class="bg-layer"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/main-slider/chinhbanner.jpg');">
                    </div>
                    <div class="large-container">
                        <div class="content-box">
                            <h6>From the far corners of the globe to your local market.</h6>
                            <h2>Okoti Enterprises Nigeria Limited - Importing and Distributing Excellence since 1996</h2>
                        </div>
                    </div>
                </div>
                <!-- Slide Item -->
                <div class="swiper-slide">
                    <div class="bg-layer"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/main-slider/chinhbanner.jpg');">
                    </div>
                    <div class="large-container">
                        <div class="content-box">
                            <h6>From the far corners of the globe to your local market.</h6>
                            <h2>Okoti Enterprises Nigeria Limited - Importing and Distributing Excellence since 1996</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-style-16 end -->


    <!-- about-style-five -->
    <section class="about-style-five">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                    <div class="image-box">
                        <figure class="image"><img src="/images/resource/about-5.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <span class="sub-title">Vision</span>
                        <p>From the far corners of the globe to your local market, Okoti is the silent partner in your culinary journey. We ensure the zest of the world is within your reach, transforming meals into memories.</p>
                        <span class="sub-title">Mission</span>
                        <p>Our mission is to create an avenue where people from different cultural backgrounds can trust and rely on the range of quality products we have to offer.</p>
                        <div class="list-inner mb_50 pt-5">
                            <ul class="list-item clearfix">
                                <li>Integrity</li>
                                <li>Quality</li>
                                <li>Reliability</li>
                                
                            </ul>
                            <ul class="list-item clearfix">
                                <li>Professionalism</li>
                                <li>collaboration</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-five end -->


    <!-- service-style-four -->
    <section class="service-style-four">
        <div class="pattern-layer" style="background-image: url(/images/shape/shape-10.png);"></div>
        <div class="auto-container">
            <div class="sec-title text-center mb_65">
                <span class="sub-title">Our Products</span>
                <h2>What We Do for Our Clients</h2>
                <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day,
                    <br>going a new normal that has evolved from generationstreamlined cloud solution.
                </p>
            </div>
            <div class="swiper-container four-item-carousel">
                <div class="swiper-wrapper">
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-37.png" alt=""></div> -->
                                <h3>G-VITA Instant Flavoured<br>Drink Powder</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-38.png" alt=""></div> -->
                                <h3 style="padding-bottom: 30px;">VERA Yeast </h3>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-39.png" alt=""></div> -->
                                <h3>MITO 2 In 1  <br>Stew Mix</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-40.png" alt=""></div> -->
                                <h3 style="text-transform: capitalize;">RICCI Powdered Chicken Stock
                                    Satchet (20g)</h3>
                                <!-- <div class="link-btn"><a href=""><span>Read more</span></a></div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-40.png" alt=""></div> -->
                                <h3 style="text-transform: capitalize;">RICCI Margarine <br> (15kg)</h3>
                                <!-- <div class="link-btn"><a href=""><span>Read more</span></a></div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-nav-style-2 service-1-nav">
                    <div class="slider-control slider-button-prev4 hvr-zoom-1 hvr-zoom-1-primary"><span><i
                                class="far fa-angle-left"></i></span></div>
                    <div class="slider-control slider-button-next4 hvr-zoom-1 hvr-zoom-1-primary"><span><i
                                class="far fa-angle-right"></i></span> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-style-four end -->


    <!-- gallery-style-two -->
    <section class="project-style-two home-28 pt_110 pb_120">
        <div class="auto-container">
            <div class="upper-box mb_50">
                <div class="sec-title light">
                    <span class="sub-title yellow-color">Gallery</span>
                </div>
                <div class="filters text-center">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="filter active" data-role="button" data-filter=".all">All Products</li>
                        <li class="filter" data-role="button" data-filter=".cat-1">Houses</li>
                        <li class="filter" data-role="button" data-filter=".cat-2">Apartments</li>
                        <li class="filter" data-role="button" data-filter=".cat-3">3D Modeling</li>
                        <li class="filter" data-role="button" data-filter=".cat-4">Architecture</li>
                        <li class="filter" data-role="button" data-filter=".cat-5">Interior Design</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="outer-container">
            <div class="sortable-masonry">
                <div class="items-container row">
                    <div class="masonry-item all cat-1 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-105.jpg"
                                        class="lightbox-image" data-fancybox="gallery"><img
                                            src="/images/gallery/gallery-105.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-106.jpg"
                                        class="lightbox-image" data-fancybox="gallery"><img
                                            src="/images/gallery/gallery-106.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-3 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-107.jpg"
                                        class="lightbox-image" data-fancybox="gallery"><img
                                            src="/images/gallery/gallery-107.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-4 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-108.jpg"
                                        class="lightbox-image" data-fancybox="gallery"><img
                                            src="/images/gallery/gallery-108.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-5 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-109.jpg"
                                        class="lightbox-image" data-fancybox="gallery"><img
                                            src="/images/gallery/gallery-109.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-110.jpg"
                                        class="lightbox-image" data-fancybox="gallery"><img
                                            src="/images/gallery/gallery-110.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item all cat-2 col-lg-3 col-md-6">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><a href="/images/gallery/gallery-110.jpg"
                                        class="lightbox-image" data-fancybox="gallery"><img
                                            src="/images/gallery/gallery-110.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gallery-style-two end -->

    <!-- testimonial-style-two -->
    <section class="testimonial-style-two home-29 home-18">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="sec-title">
                        <span class="sub-title gray-color">Testimonials</span>
                        <h2>What They’re Talking About Company ?</h2>
                        <div class="slider-nav-style-2 testimonial-1-nav ps-lg-5">
                            <div class="slider-control slider-button-prev2"><img src="/images/icons/icon-96.png" alt="">
                            </div>
                            <div class="slider-control slider-button-next2"><img src="/images/icons/icon-97.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="swiper-container two-item-carousel">
                        <div class="swiper-wrapper">
                            <!-- Slide Item -->
                            <div class="swiper-slide">
                                <div class="testimonials-1-block">
                                    <div class="testimonials-1-top-content">
                                        <div class="testimonials-1-quote"><i class="flaticon-quotation"></i></div>
                                        <div class="testimonials-1-desc">I've been working with Okoti Enterprises for over 10 years, and I can confidently say they have one of the most efficient supply chain networks in Nigeria. Their logistics and distribution systems are top-notch, ensuring timely delivery of products to every corner of the country. As a supplier, I appreciate their professionalism and reliability in handling our products.

                                        </div>
                                    </div>
                                    <div class="testimonials-1-author">
                                        <div class="testimonials-1-author-title">Mrs. Nneka Okafor <br>CEO - Nneka Farms</div>
                                        <div class="testimonials-1-designation">Supplier</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide Item -->
                            <div class="swiper-slide">
                                <div class="testimonials-1-block">
                                    <div class="testimonials-1-top-content">
                                        <div class="testimonials-1-quote"><i class="flaticon-quotation"></i></div>
                                        <div class="testimonials-1-desc">I've been a loyal customer of Okoti Enterprises for 5 years, and I can attest to the exceptional quality of their products. Their chicken spices and flavored powder drinks are bestsellers in my store, and customers keep coming back for more. Okoti's commitment to quality is evident in every product they distribute. I highly recommend them to any retailer looking for a reliable partner.
                                        </div>
                                    </div>
                                    <div class="testimonials-1-author">
                                        <div class="testimonials-1-author-title">Mr. Emmauel Udoh <br>Owner - Emmauel's Supermarket</div>
                                        <div class="testimonials-1-designation">Retailer</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide Item -->
                            <div class="swiper-slide">
                                <div class="testimonials-1-block">
                                    <div class="testimonials-1-top-content">
                                        <div class="testimonials-1-quote"><i class="flaticon-quotation"></i></div>
                                        <div class="testimonials-1-desc">I've been impressed with Okoti Enterprises' excellent service and reliability. I've been purchasing their products for my household for over 3 years, and I've never experienced any issues with delivery or product quality. Their customer service team is always responsive and helpful. Okoti Enterprises truly cares about their customers, and it shows in their service. I highly recommend them to anyone looking for a trusted partner for food and household essentials.

                                        </div>
                                    </div>
                                    <div class="testimonials-1-author">
                                        <div class="testimonials-1-author-title">Mrs. Chioma Ike <br> Happy Customer</div>
                                        <div class="testimonials-1-designation">Customer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-style-two end -->



    <!-- faq-section -->
    <section class="faq-section home-16">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">
                    <div class="brand-logo-sec-border"></div>
                    <div class="text-center">
                        <h5
                            class="ff_sec fw_bold tt_u fs_14 ls_1 c_primary text-center mb_45 bg_light pl_30 pr_30 p_relative d_iblock">FAQ</h5>
                    </div>
                    <!-- <div class="col-lg-6 col-md-12 col-sm-12 text-column">
                        <div class="text-box">
                            <h3>Architecture a unique combination of engineering, construction and design disciplines
                                and expertise.</h3>
                        </div>
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 accordion-column">
                        <ul class="accordion-box">
                            <li class="accordion block">
                                <div class="acc-btn c_dark fs_28 ff_sec">What does Okoti Enterprises do?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Okoti Enterprises specializes in the importation and distribution of food
                                            commodities and household items to retailers and suppliers across Nigeria.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn c_dark fs_28 ff_sec">How can I get Okoti Enterprises' products?
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Our products are available through our network of suppliers. To get in touch
                                            with a supplier, please contact us via call, email, or text, and we will
                                            provide you with more information.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn c_dark fs_28 ff_sec">How can I become a supplier or retailer for
                                    Okoti Enterprises?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Please contact us via call, email, or text to inquire about our supplier and
                                            retailer opportunities. We will provide you with more information on how to
                                            get started</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq-section end -->


    <!-- brand logo -->
    <!-- <div class="brand-home-16 pb_65">
        <div class="brand-logo-sec-border"></div>
        <div class="text-center">
            <h5
                class="ff_sec fw_bold tt_u fs_14 ls_1 c_primary text-center mb_45 bg_light pl_30 pr_30 p_relative d_iblock">
                We worked with royal clients</h5>
        </div>

        <div class="auto-container-2">
            <div class="slider-wrapper">
                <img src="/images/clients-logo/brand-logo-1.png" alt="Logo 1" class="img-fluid">
                <img src="/images/clients-logo/brand-logo-2.png" alt="Logo 2" class="img-fluid">
                <img src="/images/clients-logo/brand-logo-3.png" alt="Logo 3" class="img-fluid">
                <img src="/images/clients-logo/brand-logo-4.png" alt="Logo 4" class="img-fluid">
                <img src="/images/clients-logo/brand-logo-5.png" alt="Logo 5" class="img-fluid">

                <img src="/images/clients-logo/brand-logo-1.png" alt="Logo 1" class="img-fluid">
                <img src="/images/clients-logo/brand-logo-2.png" alt="Logo 2" class="img-fluid">
                <img src="/images/clients-logo/brand-logo-3.png" alt="Logo 3" class="img-fluid">
                <img src="/images/clients-logo/brand-logo-4.png" alt="Logo 4" class="img-fluid">
                <img src="/images/clients-logo/brand-logo-5.png" alt="Logo 5" class="img-fluid">
            </div>
        </div>

    </div> -->




</div>

<!--Scroll to top-->
<div class="scroll-to-top">
    <div>
        <div class="scroll-top-inner">
            <div class="scroll-bar">
                <div class="bar-inner"></div>
            </div>
            <div class="scroll-bar-text">Go To Top</div>
        </div>
    </div>
</div>
<!-- Scroll to top end -->