<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">Preloader Close</div>
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>

    <section class="banner-1-section pt_240 pb_140 bg_cover overflow-hidden"
        style="background-image: url(/images/background/bg-4.jpg);">
        <div class="line-grid-wrap">
            <span class="line-grid-1"></span>
            <span class="line-grid-2"></span>
            <span class="line-grid-3"></span>
            <span class="line-grid-4"></span>
            <span class="line-grid-5"></span>
        </div>
        <div class="banner-1-image-1 p_absolute b_0 r_0"><img src="/images/resource/building3.png" alt=""></div>
        <div class="auto-container">
            <div class="p_relative text-center">
                <h1 class="c_light mb_10 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                    Products</h1>
                <ul class="fs_18 d-flex justify-content-center c_light wow fadeInLeft" data-wow-delay=".5s"
                    data-wow-duration="1.5s">
                    <li><a href="/">Home</a></li>
                    <li class="ml_10 mr_10">/</li>
                    <li>Products</li>
                </ul>
            </div>
        </div>
    </section>


    <!-- service-style-four -->
    <section class="service-style-four">
        <div class="pattern-layer" style="background-image: url(/images/shape/shape-10.png);"></div>
        <div class="auto-container">
            <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span
                    class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>What we do</h6>
            <h2 class="fw_black fs_45 mb_20">Products We Provide</h2>
            <p class="mb_50 fs_18">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum magnam, natus
                suscipit totam laboriosam quia fugiat<br> questions and arrange an appointment at your convenience.</p>
            <div class="swiper-container four-item-carousel">
                <div class="swiper-wrapper">
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-37.png" alt=""></div> -->
                                <h3>G-VITA Instant Flavoured<br>Drink Powder</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-38.png" alt=""></div> -->
                                <h3 style="padding-bottom: 30px;">VERA Yeast </h3>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-39.png" alt=""></div> -->
                                <h3>MITO 2 In 1 <br>Stew Mix</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-40.png" alt=""></div> -->
                                <h3 style="text-transform: capitalize;">RICCI Powdered Chicken Stock
                                    Satchet (20g)</h3>
                                <!-- <div class="link-btn"><a href=""><span>Read more</span></a></div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="service-block-four">
                            <div class="inner-box">
                                <!-- <div class="icon-box"><img src="/images/icons/icon-40.png" alt=""></div> -->
                                <h3 style="text-transform: capitalize;">RICCI Margarine <br> (15kg)</h3>
                                <!-- <div class="link-btn"><a href=""><span>Read more</span></a></div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-nav-style-2 service-1-nav">
                    <div class="slider-control slider-button-prev4 hvr-zoom-1 hvr-zoom-1-primary"><span><i
                                class="far fa-angle-left"></i></span></div>
                    <div class="slider-control slider-button-next4 hvr-zoom-1 hvr-zoom-1-primary"><span><i
                                class="far fa-angle-right"></i></span> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-style-four end -->
</div>